@import "../../src/styles/variables";

.Youtube {
  @include container;

  .container {
    margin-top: 20px;
  }

  .iframe {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    .dimmer {
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.6);
    }

    .frameBox {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 600px;
      height: 337px;
      border-radius: 10px;
      background: black;
      box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.2);


      iframe {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: inherit;
      }
    }
  }
}
